/*
 * MetaDefender Core
 * ## Developer Guide This is the API documentation for *MetaDefender Core Public API*.  If you would like to evaluate or have any questions about this documentation, please contact us via our [Contact Us](https://opswat.com/contact) form.  ## How to Interact with MetaDefender Core using REST Beginning with MetaDefender Core 4.x, OPSWAT recommends using the JSON-based REST API. The available methods are documented below. > _**Note**:_ MetaDefender API doesn't support chunk upload, however is recommended to stream the files to MetaDefender as part of the upload process.  --- ## File Analysis Process    MetaDefender's main functionality is to analyze large volumes with a high throughput. Depending on the configuration and licensed technologies, the analysis times can vary.    Below is a brief description of the API integration flow:    1. Upload a file for analysis (`POST /file`), which returns the `data_id`: [File Analysis](#operation/fileAnalysisPost)).           > _**Note**:_ The performance depends on:           > - number of nodes (scaling)     > - number of engines per node     > - type of file to be scanned     > - Metadefender Core and nodes' hardware       2. You have 2 ways to retrieve the analysis report:      - **Polling**: Fetch the result with previously received data_id (`GET /file/{data_id}` resource) until scan result belonging to data_id doesn't reach the 100 percent progress_percentage: ( [Fetch processing result](#operation/userLogin))        > _**Note**:_ Too many data_id requests can reduce performance. It is enough to just check every few hundred milliseconds.          - **Callbackurl**: Specify a callbackurl that will be called once the analysis is complete.     3. Retrieve the analysis results anytime after the analysis is completed with hash for files (md5, sha1, sha256) by calling [Fetch processing result](#operation/userLogin).      - The hash can be found in the scan results    4. Retrieve processed file (sanitized, redacted, watermarked, etc.) after the analysis is complete.      > _**Note**:_ Based on the configured retention policy, the files might be available for retrieval at a later time.   --- OPSWAT provides some sample codes on [GitHub](https://github.com/OPSWAT) to make it easier to understand how the MetaDefender REST API works. 
 *
 * The version of the OpenAPI document: v4.18.0
 * Contact: feedback@opswat.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.InlineObject;
import org.openapitools.client.model.InlineObject2;
import org.openapitools.client.model.InlineResponse403;
import org.openapitools.client.model.InlineResponse500;
import org.openapitools.client.model.UserLogin;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AuthApi {
    private ApiClient localVarApiClient;

    public AuthApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AuthApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for userChangePass
     * @param apikey Generated &#x60;session_id&#x60; from [Login](#operation/userLogin) call can be used as an &#x60;apikey&#x60; for API calls that require authentication.                 (optional)
     * @param inlineObject2  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request processed successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request (e.g. invalid header, apikey is missing or invalid). </td><td>  -  </td></tr>
        <tr><td> 405 </td><td> The user has no rights for this operation. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unexpected event on server </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call userChangePassCall(String apikey, InlineObject2 inlineObject2, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = inlineObject2;

        // create path and map variables
        String localVarPath = "/user/changepassword";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (apikey != null) {
            localVarHeaderParams.put("apikey", localVarApiClient.parameterToString(apikey));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apikey" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call userChangePassValidateBeforeCall(String apikey, InlineObject2 inlineObject2, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = userChangePassCall(apikey, inlineObject2, _callback);
        return localVarCall;

    }

    /**
     * Change Password
     * Modify the current password for the user identified by apikey
     * @param apikey Generated &#x60;session_id&#x60; from [Login](#operation/userLogin) call can be used as an &#x60;apikey&#x60; for API calls that require authentication.                 (optional)
     * @param inlineObject2  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request processed successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request (e.g. invalid header, apikey is missing or invalid). </td><td>  -  </td></tr>
        <tr><td> 405 </td><td> The user has no rights for this operation. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unexpected event on server </td><td>  -  </td></tr>
     </table>
     */
    public void userChangePass(String apikey, InlineObject2 inlineObject2) throws ApiException {
        userChangePassWithHttpInfo(apikey, inlineObject2);
    }

    /**
     * Change Password
     * Modify the current password for the user identified by apikey
     * @param apikey Generated &#x60;session_id&#x60; from [Login](#operation/userLogin) call can be used as an &#x60;apikey&#x60; for API calls that require authentication.                 (optional)
     * @param inlineObject2  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request processed successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request (e.g. invalid header, apikey is missing or invalid). </td><td>  -  </td></tr>
        <tr><td> 405 </td><td> The user has no rights for this operation. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unexpected event on server </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> userChangePassWithHttpInfo(String apikey, InlineObject2 inlineObject2) throws ApiException {
        okhttp3.Call localVarCall = userChangePassValidateBeforeCall(apikey, inlineObject2, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Change Password (asynchronously)
     * Modify the current password for the user identified by apikey
     * @param apikey Generated &#x60;session_id&#x60; from [Login](#operation/userLogin) call can be used as an &#x60;apikey&#x60; for API calls that require authentication.                 (optional)
     * @param inlineObject2  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Request processed successfully </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request (e.g. invalid header, apikey is missing or invalid). </td><td>  -  </td></tr>
        <tr><td> 405 </td><td> The user has no rights for this operation. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unexpected event on server </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call userChangePassAsync(String apikey, InlineObject2 inlineObject2, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = userChangePassValidateBeforeCall(apikey, inlineObject2, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for userLogin
     * @param inlineObject  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Invalid credentials </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unexpected event on server </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call userLoginCall(InlineObject inlineObject, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = inlineObject;

        // create path and map variables
        String localVarPath = "/login";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call userLoginValidateBeforeCall(InlineObject inlineObject, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = userLoginCall(inlineObject, _callback);
        return localVarCall;

    }

    /**
     * Login
     * Initiate a new session. Required for using protected REST APIs.
     * @param inlineObject  (optional)
     * @return UserLogin
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Invalid credentials </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unexpected event on server </td><td>  -  </td></tr>
     </table>
     */
    public UserLogin userLogin(InlineObject inlineObject) throws ApiException {
        ApiResponse<UserLogin> localVarResp = userLoginWithHttpInfo(inlineObject);
        return localVarResp.getData();
    }

    /**
     * Login
     * Initiate a new session. Required for using protected REST APIs.
     * @param inlineObject  (optional)
     * @return ApiResponse&lt;UserLogin&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Invalid credentials </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unexpected event on server </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<UserLogin> userLoginWithHttpInfo(InlineObject inlineObject) throws ApiException {
        okhttp3.Call localVarCall = userLoginValidateBeforeCall(inlineObject, null);
        Type localVarReturnType = new TypeToken<UserLogin>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Login (asynchronously)
     * Initiate a new session. Required for using protected REST APIs.
     * @param inlineObject  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Invalid credentials </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unexpected event on server </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call userLoginAsync(InlineObject inlineObject, final ApiCallback<UserLogin> _callback) throws ApiException {

        okhttp3.Call localVarCall = userLoginValidateBeforeCall(inlineObject, _callback);
        Type localVarReturnType = new TypeToken<UserLogin>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for userLogout
     * @param apikey Generated &#x60;session_id&#x60; from [Login](#operation/userLogin) call can be used as an &#x60;apikey&#x60; for API calls that require authentication.                 (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Invalid user information. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unexpected event on server </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call userLogoutCall(String apikey, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/logout";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (apikey != null) {
            localVarHeaderParams.put("apikey", localVarApiClient.parameterToString(apikey));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apikey" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call userLogoutValidateBeforeCall(String apikey, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = userLogoutCall(apikey, _callback);
        return localVarCall;

    }

    /**
     * Logout
     * Destroy session for not using protected REST APIs.
     * @param apikey Generated &#x60;session_id&#x60; from [Login](#operation/userLogin) call can be used as an &#x60;apikey&#x60; for API calls that require authentication.                 (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Invalid user information. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unexpected event on server </td><td>  -  </td></tr>
     </table>
     */
    public void userLogout(String apikey) throws ApiException {
        userLogoutWithHttpInfo(apikey);
    }

    /**
     * Logout
     * Destroy session for not using protected REST APIs.
     * @param apikey Generated &#x60;session_id&#x60; from [Login](#operation/userLogin) call can be used as an &#x60;apikey&#x60; for API calls that require authentication.                 (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Invalid user information. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unexpected event on server </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> userLogoutWithHttpInfo(String apikey) throws ApiException {
        okhttp3.Call localVarCall = userLogoutValidateBeforeCall(apikey, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Logout (asynchronously)
     * Destroy session for not using protected REST APIs.
     * @param apikey Generated &#x60;session_id&#x60; from [Login](#operation/userLogin) call can be used as an &#x60;apikey&#x60; for API calls that require authentication.                 (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Invalid user information. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unexpected event on server </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call userLogoutAsync(String apikey, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = userLogoutValidateBeforeCall(apikey, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
}
